*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,Sans-Serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('images/4fb3ffbc-3148-4ede-b369-805b8b6fb1ac.jpeg');
    background-position:  center 70px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}
body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    background-size: cover;
}
.top-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 30px;
    color: white;
    padding: 10px 10px;
    z-index: 3;
}
 
    .logo-frame {
        height: 50px;
        width: 50px;
        background: darkblue;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50px;
        object-fit: cover;
        box-shadow: 4px 4px 0px lightblue;
        z-index: -1;
        position: relative;     
    }
    .photo-text {
        position: absolute;
        margin: 8px;
        left: 50px;
    }
.logo {
    z-index: 3;
    height: auto;
    width: 70px;
    padding: 5px;
    align-items: center;
    left: -8px;
    position: absolute;
}

.navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 30px;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    
    color: white;
    padding: 20px;
}
.btn :hover{
    background: black;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
.grid-box {
    background: lightgreen;
    padding: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}
.section 
.section:hover> :not(:hover) {
    filter: blur(5px);
    opacity: .5;
}
.grid-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
.wedding-text {
    position: absolute;
    color: black;
    font-size: 30px;
    bottom: 10px;
}
.grid-item {
    background: lightgray;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
    
}
details summary{
    list-style: none;
}
.card {
    justify-content: center;
    align-items: center;
    display: flex;
}
.product-cards {
    width: 75vw;
    background: gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;   
    gap: 10px;
    padding: 20px;
    position: relative; 
    z-index: -1;
    
}
.product-cards-gallery {
    width: 50vw;
    background: gray;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding: 0px;
    position: relative;
    z-index: -1;
    top: 25px;
    left: 10px;
}
@media (max-width: 768px) {
    .product-cards {
        grid-template-columns: repeat(2,1fr);
        position: relative;
    }
}
    .photo-gallery {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
    }

    .video-videos-text {
        position: absolute;
        z-index: 0;
        top: 35px;
        color: white;
    }

.mark-your-booking {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 2px;
    z-index: 2;
}

    .gallery-image {
        width: 50vw;
        height: auto;
    }
.photo-gallery-text {
    position: absolute;
    top: 0;
}
.view-gallery {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 50vw;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 5px;
}

    .watch-event-videos {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 50vw;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 16px;
        position: absolute;
        display: flex;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        
    }

    .view-gallery:hover {
        background-color: forestgreen;
    }

    .watch-event-videos:hover {
        background-color: lightgreen;
    }

    .watchevent-videos {
        width: 75vw;
        z-index: 0;
    }

    .footer {
        background: black;
        color: white;
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
        margin-top: 100px;
    }

    .copyright {
        margin-top: 0px;
        padding: 50px;
        top: 0;
    }




 
                              
