<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>

    <h1>
        Welcome to Our reals!
        <video src="videos/SANDRA + KARIM.mp4" autoplay muted loop class="watchevent-videos" type="video.mp4">
        </video>
    </h1>

    <img src="images/bbe7d64c-25b8-4783-adda-99c3e6c9c3ed.jpeg" class="gallery-image" alt="product image" />

    <video src="" type="video.mp4"></video>




    <div class="grid-video">
        <video src="videos/SANDRA + KARIM.mp4" autoplay muted loop class="watchevent-videos" type="video.mp4">
        </video>
    </div>
    <div class="grid-video">
        <video src="videos/SANDRA + KARIM.mp4" autoplay muted loop class="watchevent-videos" type="video.mp4">
        </video>
    </div>
    <div class="grid-video">
        <video src="videos/SANDRA + KARIM.mp4" autoplay muted loop class="watchevent-videos" type="video.mp4">
        </video>
    </div>
    <div class="grid-video">
        <video src="videos/SANDRA + KARIM.mp4" autoplay muted loop class="watchevent-videos" type="video.mp4">
        </video>
    </div>




</body>
</html>
